

/*button类型选择器设置所有Button的背景色*/

#schoolroll{

    -fx-background-color:  #FFFFFF;
 -fx-border-radius: 20;



}

#Course{
 -fx-background-color:  #FFFFFF;

    -fx-border-radius: 20;


}

#library{
 -fx-background-color:  #FFFFFF;

    -fx-border-radius: 20;


}

#commodity{
 -fx-background-color:  #FFFFFF;

    -fx-padding: 5;


}

#dormitory{
 -fx-background-color:  #FFFFFF;

    -fx-padding: 5;


}

#exit{
 -fx-background-color: #FFFFFF;

    -fx-padding: 5;

}
/*hover伪类选择器设置鼠标移过Button时的背景色*/
.button:hover {
    -fx-background-color: lightskyblue;
}


.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#changeView1{
    -fx-background-image:url("/images//22.jpg");
}

#changeView2{
    -fx-background-image:url("/images//22.jpg");
}