

/*button类型选择器设置所有Button的背景色*/

.button{

    -fx-background-color: #FFFFFF;


    -fx-padding: 5;

}

#teacherInfo{
    -fx-background-color:   #FFFFFF;



    -fx-padding: 5;


}

#classManage{
 -fx-background-color:   	 #FFFFFF;



    -fx-padding: 5;


}

#courseManage{
 -fx-background-color:   	 #FFFFFF;



    -fx-padding: 5;


}

#exit{
 -fx-background-color:   	 #FFFFFF;


    -fx-padding: 5;


}

#StudentManage{
 -fx-background-color:  #FFFFFF;



    -fx-padding: 5;

}

#TeacherManage{
 -fx-background-color:  #FFFFFF;



    -fx-padding: 5;

}

#DormitoryManage{
 -fx-background-color:  #FFFFFF;



    -fx-padding: 5;


}

#ShopManage{
 -fx-background-color:  #FFFFFF;



    -fx-padding: 5;


}

#LibraryManage{
 -fx-background-color:  #FFFFFF;



    -fx-padding: 5;


}


/*hover伪类选择器设置鼠标移过Button时的背景色*/
.button:hover {
    -fx-background-color: lightskyblue;
}



.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#adminView{
    -fx-background-image:url("/images//22.jpg");
}

#test{
    -fx-background-image:url("/images//22.jpg");
}

#teacherView1{
    -fx-background-image:url("/images//22.jpg");
}

#teacherView2{
    -fx-background-image:url("/images//22.jpg");
}